.about-header{
    background-color: rgb(120, 58, 140);
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.about-header h1{
    font-size: 30px;
}
.about-body{
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}
.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}