.pi1{
    background-image: url(/IMAGES/236.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}
.third-section{
    width: 500px;
    color: white;
}
.img100{
    display: flex;
    gap: 10px;
}